VisualElement {

}
.stage_button{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 88px;
}
.easy_button{
    background-color: rgba(24, 125, 28, 0.69);
}
.normal_button{
    background-color: rgba(18, 107, 152, 0.69);
}
.hard_button{
    background-color: rgb(132, 98, 3);
}
.expert_button{
    background-color: rgb(96, 24, 33);
}
.master_button{
    background-color: rgb(91, 2, 101);
}